/* Header */
header{
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px; 
}
.header-list{
    display: none;
}
/* Main */
.container{
    min-height: 100vh;
    height: 100vh;
}
