* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f4f5f7;
    font-family: 'Poppins', sans-serif;
}
header{
    display: flex;
    justify-content: center;
}
.header-list{
    align-self: center;
    display: none;
}
.header-nav {
    width: 70%;
    margin: 10px 0;
}
.header-nav__list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.header-nav__item {
    list-style: none;
}
.header-nav__item a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}
.header-nav__item.header-nav__description{
    font-size: 1.25rem;
}
.header-nav__item.header-nav__home a{
    color: #0891b2;
}
.header-nav__item.header-nav__home a:hover{
    color: #06b6d4;
}
.header-nav__item.header-nav__item.header-nav__about a:hover{
    color: #0891b2;
}
.header-mode{
    align-self: center;
    color: #0891b2;
    width: 10%;
    cursor: pointer;
}


/* Main */
.container{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.container-image{
    width: 15rem;
    height: 15rem;
    position: relative;
    object-fit: cover;
}
.container-image .img-circle{
    max-width: 100%;
    max-height: 100%;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    overflow: hidden;
    border: 0.09375rem rgb(0, 0, 0) solid;
}
.container-information{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
}
.container-content{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}
.social-networks a{
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    font-weight:500;
}
.container7{
    font-size: 1.125rem;
    line-height: 1.75rem;
}

/* Footer */
footer{
    padding: 10rem 1rem;
    display: flex;
    flex-direction: column;
}
h1{
    font-size: 1.5rem;
    line-height: 2rem;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.footer-nav{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.footer-nav__list{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}
.footer-nav__item{
    list-style: none;
}
.footer-nav__item a{
    text-decoration: none;
    margin-left: 0.5rem;
    color: black;
}
.footer-media{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.footer-media a{
    color: inherit;
    text-decoration: inherit;
    display: flex;
}
hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #0891b2;
    margin: 1em 0;
    padding: 0;
}